body {
  background: #0f1b2a;
  font-family: "Segoe UI", Inter, sans-serif;
  color: #e6edf5;
}

#title {
  text-align: center;
}

.nav-list {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.nav-list > li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: #e6edf5;
}

a:hover {
  color: white;
}

/* conatainer */
.container {
  background: rgba(8, 40, 70, 0.92);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0px;
}

/* kit-list */
.kit-list {
  margin: 0px auto;
}

/* line-through text */
.crossed {
  text-decoration: line-through;
  color: gray;
}

#progressBar {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border: 2px solid #4caf50;
  border-radius: 50px;
}

/* Chrome, Edge, Safari */
#progressBar::-webkit-progress-bar {
  background-color: #1c2b3a;
  border-radius: 50px;
}

#progressBar::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 50px;
}

/* Firefox */
#progressBar::-moz-progress-bar {
  background-color: #4caf50;
  border-radius: 50px;
}

#progressBar::-webkit-progress-value {
  transition: width 0.3s ease;
}

#personal {
  display: flex;
  flex-direction: column;
}

/* footer */
footer {
  text-align: center;
}
